<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="hiof.android14.group26.peacekeeper"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:theme="@style/Theme.Example" >
        <activity
            android:name="hiof.android14.group26.peacekeeper.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="hiof.android14.group26.peacekeeper.AccountActivity"
            android:label="@string/title_activity_accountSettings"
            android:parentActivityName="hiof.android14.group26.peacekeeper.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="hiof.android14.group26.peacekeeper.MainActivity" />
        </activity>
        <activity
            android:name="hiof.android14.group26.peacekeeper.NotificationActivity"
            android:label="@string/title_activity_notificationSettings"
            android:parentActivityName="hiof.android14.group26.peacekeeper.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="hiof.android14.group26.peacekeeper.MainActivity" />
        </activity>
        <activity
            android:name="hiof.android14.group26.peacekeeper.LogOutActivity"
            android:parentActivityName="hiof.android14.group26.peacekeeper.MainActivity"
            android:theme="@android:style/Theme.NoTitleBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="hiof.android14.group26.peacekeeper.MainActivity" />
        </activity>
        <activity
            android:name="hiof.android14.group26.peacekeeper.LogInActivity"
            android:label="@string/title_activity_login"
            android:parentActivityName="hiof.android14.group26.peacekeeper.LogOutActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="hiof.android14.group26.peacekeeper.LogOutActivity" />
        </activity>
        <activity
            android:name="hiof.android14.group26.peacekeeper.CreateAccountActivity"
            android:label="@string/title_activity_create_account"
            android:parentActivityName="hiof.android14.group26.peacekeeper.LogOutActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="hiof.android14.group26.peacekeeper.LogOutActivity" />
        </activity>
        <activity
            android:name="hiof.android14.group26.peacekeeper.TaskActivity"
            android:label="@string/title_activity_task" >
        </activity>
        <activity
            android:name="hiof.android14.group26.peacekeeper.MainTaskActivity"
            android:label="@string/title_activity_main_task" >
        </activity>
    </application>

</manifest>
